spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/Inventory_Management_System
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: passPost
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        hbm2ddl:
          auto: create

  sql:
    init:
      mode: never

server:
  port: ${PORT:8080}

logging:
  level:
    org.hibernate.SQL: INFO
    org.hibernate.orm.jdbc.bind: WARN
